body{
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
}
.abs{
  position: fixed;
  top: 25%;
  margin-top: 240px;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #999;
}
.detailed{
  font-size: 14px;
}
.detailed .heading{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
/* header */
.header{
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  background: #418cff;
  color: white;
  padding: 35px 0;
}
/* search */
.search{
  text-align: center;
  font-size: 18px;
  background: #418cff;
  padding-bottom: 50px;
}
.search .search-block{
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.search-options span{
  display: inline-block;
  width: 50%;
  background: #3e84ed;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 0;
}
.search-options span:first-child{
  border-top-left-radius: 5px; 
}
.search-options span:last-child{
  border-top-right-radius: 5px; 
}
.search-options span.active{
  background: #234777;
}
.search-options span:hover{
  background: #234777;
}
.search-block input{
  font-family: 'Montserrat', sans-serif !important;
  width: 95%;
  padding: 3% 2.5%;
  border: none;
  font-size: 16px;
}
.submit-btn{
  display: inline-block;
  position: absolute;
  right: 0;
  background: #f7f7f7;
  padding: 14px 15px;
  color: #666;
  cursor: pointer;
}
/**/
.highlight{
  background: yellow;
  color: #000;
  display: inline-block;
}
/**/
.results{
  padding: 10px; 
}
.row{
  font-size: 14px;
  border-bottom: 1px solid #EEE;
  padding: 10px 20px;
}
.label{
  font-size: 10px;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #FFF;
  background: #AAA;
}
.name{
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.gst{
  font-weight: 500; 
  margin: 6px 0;
}
.category{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
}
.code{
  font-weight: 500;
  margin-bottom: 10px;
}