body{
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
}
a{
  cursor: pointer;
}
input, textarea, button{
  font-family: 'Montserrat', sans-serif !important;  
}  
.abs{
  position: fixed;
  top: 25%;
  margin-top: 325px;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #999;
}
.detailed{
  font-size: 0.9em;
}
.detailed .heading{
  font-size: 1.6em;
  font-weight: 500;
  margin-bottom: 5px;
}
.disabled{
  pointer-events: none;
  opacity: 0.3;
}

/* 
  Header 
*/
.header{
  font-size: 2.2em;
  font-weight: 500;
  text-align: center;
  background: #418cff;
  color: white;
  padding: 35px 0;
}

/* 
  Search
*/
.search{
  text-align: center;
  font-size: 1.2em;
  background: #418cff;
  padding-bottom: 25px;
  margin: -1px 0;
}
.search .search-block{
  border-radius: 5px;
  width: 95%;
  max-width: 35rem;
  margin: 0 auto;
  position: relative;
}
.search-options span{
  display: inline-block;
  width: 50%;
  background: #3e84ed;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  padding: 15px 0;
}
.search-options span:first-child{
  border-top-left-radius: 5px; 
}
.search-options span:last-child{
  border-top-right-radius: 5px; 
}
.search-options span.active{
  background: #234777;
}
.search-options span:hover{
  background: #234777;
}
.search-block input{
  width: 95%;
  padding: 3% 2.5%;
  border: none;
  font-size: 0.9em;
}
.search-block .submit-btn{
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 14px 15px;
  color: #666;
  cursor: pointer;
}

/*
  Menu
*/
.menu {
  background: #418cff;
  text-align: center;
  padding-bottom: 20px;
}
.menu-option {
  text-align: center;
  display: inline-block;
  margin: 0.5em 1em;
  width: 75px;
  cursor: pointer;
  vertical-align: bottom;
  color: white;
  background: #3e84ed;
  border-radius: 5px;
  padding: 5px 0px;
}
.menu-option:hover, .menu-option.active {
  background: #234777;
  /*color: #234777;*/
  /*font-weight: 500;*/
}
.menu-option .icon {
}
.menu-option .text {
  font-size: 0.75em;
  min-height: 25px;
  line-height: 1em;
}

/*
  Results
*/
.results{
  padding: 10px; 
}
.results.goods a, .results.resources a{
  font-weight: 400; 
}
.row{
  font-size: 0.85em;
  border-bottom: 1px solid #EEE;
  padding: 10px 20px;
}
.link-row{
  font-size: 0.85em;
  padding: 10px 20px; 
}
.link-row a{
  color: #234777;
}
.label{
  font-size: 0.7em;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #FFF;
  background: #AAA;
}
.name{
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
}
.gst{
  font-weight: 500; 
  margin: 6px 0;
}
.category{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
}
.code{
  font-weight: 500;
  margin-bottom: 10px;
}
.highlight{
  background: yellow;
  color: #000;
}
.download-link{
  font-weight: 300;
  font-size: 0.9em;
  margin-left: 10px;
}

/*
  Feedback
*/
.feedback{
  padding: 20px;
  text-align: center;
  width: 75%;
  max-width: 25rem;
  margin: 0 auto;
}
.feedback input{
  padding: 10px;
  width: 100%; 
  margin-bottom: 10px;
}
.feedback textarea{
  padding: 10px;
  width: 100%; 
  margin-bottom: 10px;
}
.feedback .submit-btn{
  display: inline-block;
  background: #3e84ed;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 3px;
  font-size: 0.85em;
  cursor: pointer;
}

/*
  Tax calculator
*/
.tax-calculator {
  text-align: center;
  width: 90%;
  max-width: 25rem;
  margin: 40px auto;
}
.tax-calculator .radio {
  display: inline-block;
  margin: 20px 5px;
}
.tax-calculator .initial-amount input {
  margin-left: 15px;
  padding: 10px;
}
.tax-calculator .gst-btn {
  width: 70px;
  display: inline-block;
  border: 2px solid #234777;
  font-size: 0.8em;
  height: 49px;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 20px;
  margin: 0 15px;
  color: #234777;
}
.tax-calculator .gst-btn.active {
  background: #234777;
  color: white;
}
.tax-calculator table.result {
  font-size: 1em;
  text-align: center;
  width: 85%;
  margin: 25px auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #FAFAFA;
}
.tax-calculator table.result td{
  padding: 5px 5px;
}
.tax-calculator table.result tr:first-child td{
  padding-top: 15px;
}
.tax-calculator table.result tr:last-child td{
  padding-bottom: 15px;
}
.amount{
  font-weight: 500;
}